HEADER START
header {
    overflow-x: hidden;
    display: block;
    position: relative;
    font-family: 'Open Sans';
    justify-content: center;
    margin-bottom: 30px;
}

.navigation-bar {
    padding-block: 20px;
    padding-inline: 100px;
    display: flex;
    position: fixed;
    z-index: 2;
    justify-content: center;
    background-color: #FFFFFF;
    width: 100%;
}

.logo-navbar-contactus-container {
    padding-block: 30px;
    background-color: #FFFFFF;
    display: flex;
}

.logoandnavbar {
    display: flex;
    align-items: center;
}

.logoandnavbar ul {
    padding-inline-start: 65px;
}

ul {
    list-style-type: none;
    gap: 30px;
    display: flex;
    align-items: center;
}

.navbar li,
li {
    padding-block-end: 5px;
}

.navbar {
    display: flex;
    justify-content: center;
}

.navbar a {
    color: #091638;
    font-weight: 450;
    text-decoration: none;
}

.nav-link {
    text-decoration: none;
    color: white;
    font-size: 16.5px;
    padding: 2px 0;
    position: relative;
    transition: color 0.3s ease;
}

.nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    background-color: #091638;
    opacity: 0;
    transition: opacity 0.27s ease;
}

.nav-link:hover::after {
    opacity: 1;
}

#contactus button {
    font-family: 'Open Sans';
    width: 134px;
    height: 48px;
    background-color: #1C3988;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    margin-inline-start: 300px;
}

#contactus,
#contactus a {
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    color: #FFFFFF;
    list-style: none;
}

#contactus button:hover {
    background-color: #6E8AE9;
    transition: background-color;
    transition-duration: 0.3s;

}

#burgerMenu {
    display: flex;
}

#menuIcon,
#closeIcon {
    display: none;
}

/* HEADER END */
/* MOBILE HEADER START */
@media screen and (max-width: 1446px) and (min-width: 1167px) {
    .navigation-bar {
        padding-inline: 50px;
    }
    .logoandnavbar ul {
        padding-inline-start: 25px;
        padding-inline-end: 25px;
    }

    ul {
        gap: 15px;
    }

    #contactus button {
        margin-inline-start: 258px;
    }
}
@media screen and (max-width: 1166px) and (min-width: 900px) {
    .navigation-bar {
        padding-inline: 50px;
        flex-direction: column-reverse
    }
    .logoandnavbar {
        display: block;
    }

    .logoandnavbar ul {
        padding-inline-start: 0;
    }

    .navbar li,
    li {
        padding-block-end: 5px;
    }

    #contactus button {
        margin-inline-start: 0px;
    }

    #burgerMenu img {
        width: 50px;
        height: 50px
    }

    #menuList {
        text-align: center;
        display: block;
        opacity: 0;
        transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
        overflow: hidden;
    }

    #menuIcon {
        display: block;
        opacity: 1;
        z-index: 1;
    }

    #closeIcon {
        opacity: 0;
        display: block;
        z-index: 2;
    }

    #menuIcon,
    #closeIcon {
    overflow: hidden;
    position: absolute;
    cursor: pointer;
    right: 100px;
    transform: translateX(100%) scale(1) rotateY(0deg); /* Change to rotateY(0deg) */
    top: 16px;
    width: 50px;
    height: 50px;
    transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }
}
@media screen and (max-width: 899px) {
    .navigation-bar {
        justify-content: left;
    }

    .navigation-bar {
        padding-inline: 50px;
        flex-direction: column-reverse
    }

    .logoandnavbar {
        display: block;
    }

    .logoandnavbar ul {
        padding-inline-start: 0;
    }

    .navbar li,
    li {
        padding-block-end: 5px;
    }

    #contactus button {
        margin-inline-start: 0px;
    }

    #burgerMenu img {
        width: 50px;
        height: 50px
    }

    #menuList {
        text-align: center;
        display: block;
        max-height: 0px;
        opacity: 0;
        transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
        overflow: hidden;
    }

    #menuIcon {
        display: block;
        opacity: 1;
        z-index: 1;
    }

    #closeIcon {
        opacity: 0;
        display: block;
        z-index: 2;
    }

    #menuIcon,
    #closeIcon {
    overflow: hidden;
    position: absolute;
    cursor: pointer;
    right: 100px;
    transform: translateX(100%) scale(1) rotateY(0deg); /* Change to rotateY(0deg) */
    top: 16px;
    width: 50px;
    height: 50px;
    transition: transform 0.30s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }
}
@media screen and (max-width: 549px) {
    .navigation-bar {
        padding-inline: 10px;
        flex-direction: column-reverse
    }
    #menuIcon,
    #closeIcon {
    right: 55px;
    }
}