@font-face {
    font-family: 'Merriweather';
    src: url(/fonts/Merriweather-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url(/fonts/OpenSans-VariableFont_wdth\,wght.ttf);
    font-weight: auto;
    font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
body{
    font-family: 'Open Sans';
}