@font-face {
    font-family: 'Merriweather';
    src: url(/fonts/Merriweather-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url(/fonts/OpenSans-VariableFont_wdth\,wght.ttf);
    font-weight: auto;
    font-style: normal;
}
*{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
body{
    color: #091638;
    font-family: 'Open Sans';
}
/* SEARCHBAR, TEXT, IMAGE START */

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
}
input, select:focus{
    outline: none;
}
/* SECTION 1 START */


section{
    height: 100vh;
    display: block;
    width: 100%;
}
.section{
    scroll-margin-top: 10em;
}
#home{
    position: relative;
    width: 100%;
    height: auto;
    display: block;
}
.textwithimage{
    margin-block: 10em;
    display: flex;
    align-items: center;
    margin-right: 440px;
    justify-content: center;
    margin-block: 10em;   
    font-family: 'Open Sans';
}
.text-and-buttons{
    z-index: 100;
}
.textwithimage h1 {
    color: #091638;
    font-family: 'Merriweather';
    margin-block-end: 30px;
    font-size: 64.85px;
    font-weight: bold;
}
.lefttext{
    color: #091638;
    font-size: 34.2px;
}
.titlewithtext {
    margin-block-end: 30px;
}
.propertyandsearch{
    position: relative;
    float: none;
    background-color: #DDDDDD;
    border-radius: 4px;
    height: 100px;
    display: flex;
    align-items: center;
    gap: 20px;
    padding-inline: 30px;
}
.propertyandsearch form{
    color: #1C3988;
    display: flex;
    gap: 20px;
}
.search-location-bar{
    display: flex;
    align-items: center;
}
.search-location-bar input{
    outline: none;
    border-radius: 4px;
    font-family: 'Open Sans';
    font-size: 14.5px;
    font-weight: 500;
    width: 302px;
    height: 50px;
    padding-left: 50px;
    color: #141B2D;
    border: 1px solid #F3F3FA;
}
.search-location-bar svg{
    margin-left: 20px;
    position: absolute;
    display: flex;
}


.searchbuton{
    display: flex;
    align-items: center;
}
.searchbuton input{
    font-weight: 550;
    font-size: 14.5px;
    font-family: 'Open Sans';
    outline: none;
    border-radius: 4px;
    width: 302px;
    height: 50px;
    padding-left: 50px;
    color: #141B2D;
    border: 1px solid #F3F3FA;
}
.searchbuton svg{
    margin-left: 20px;
    position: absolute;
    display: flex;
}
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
}
.property-type-select-option svg {
    position: absolute;
    top: 50%;
    left: 210px;
    width: 16px;
    height: 16px;
    pointer-events: none;
    transform: translateY(-50%);
}
.property-type-select-option select{
    height: 50px;
    width: 205px;
    border-radius: 4px;
    padding-inline-start: 20px;
    font-family: 'Open Sans';
    font-size: 14.5px;
    color: #1C3988;
    border: 1px solid #4764C3;
}
.property-type-select-option select:focus{
    border: 1px solid #4764C3;
}
.proptype{
    appearance: none; 
    -webkit-appearance: none;
    -moz-appearance: none;
}
.proptype::-ms-expand {
    display: none;
}
#searchbuton{
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    color: #FFFFFF;
    background-color: #1C3988;
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
}
#searchbuton:hover{
    background-color:#6E8AE9;
    transition: background-color;
    transition-duration: 0.3s;
}
#imagehomepage{
    position: absolute;
    margin-left: 1070px;
    margin-bottom: 40px;

}
/* SEARCHBAR, TEXT, IMAGE END */

/* SECTION 1 END */
/* SECTION 2 START */
#top-offer{
    position: relative;
    background-color: #F3F3FA;
    width: 100%;
    height: auto;
    display: block;
}
.text-sections{
    display: flex;
    justify-content: space-around;
    margin-block: 10em;
}
.separator {
    border: 0;
    height: 1.5px;
    background: #ccc;
    margin: 20px 0;
}
.section2-left-title{
    font-family: 'Merriweather';
    font-size: 40px;
}
.section2-left-text{
    margin-block-start: 20px;
    font-size: 20px;
}
.showall-button{
    margin-inline-start: 700px;
    display: flex;
    align-items: flex-end;
}
.showall-button a{
    border: 2px solid #1C3988;
    font-weight: 700;
    font-size: 14.5px;
    padding: 10px;
    border-radius: 4px;
    text-decoration: none;
    color: #1C3988;
}
.showall-button a:hover{
    background-color: #6E8AE9;
    border: 2px solid #6E8AE9;
    color: #FFFFFF;
    transition: background-color 0.3s;
}
/* SECTION 2 TXT END / START IMG */
.image-grid-section2{
    display: grid;
    margin-block: 200px;
    flex-direction: row;
    row-gap: 100px;
    align-items: center;
    justify-content: space-around;
    grid-template-columns: auto auto auto;

}
.image-grid-section2 img{
    width: 400px;
    height: auto;
}
.image-grid-section2 a{
    display: flex;
    flex-direction: column;
    padding-block-end: 20px;
    text-decoration: none;
}
.image-grid-section2 span{
    width: 250px;
    padding-inline: 10px;
    padding-block-start: 20px;
}
#grid-item1, #grid-item2, #grid-item3, #grid-item4, #grid-item5, #grid-item6 {
    border-radius: 4px;
    background-color: #FFFFFF;
}
#img-cont-title{
    color: #141B2D;
    font-family: 'Merriweather';
    font-weight: 600;
}
#img-cont-price{
    font-weight: bold;
    color: #1C3988;

}
#img-cont-city{
    color: #141B2D;
}

/* SECTION 2 END */
/* SECTION 3 START */

#aboutus{
    position: relative;
    width: 100%;
    height: auto;
    display: block;
}
.aboutus-txt-img{
    margin-block: 11.5em;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    
}
.aboutus-title-text{
        margin-inline-start: 50px;
}
.aboutus-title{
    font-size: 35px;
    color: #091638;
    font-family: 'Merriweather';
}
.aboutus-paragraph p{
    color: #091638;
    padding-block-start: 35px;
    width: 330px;
}
#aboutus-2{
    padding-block-start: 35px;
}

/* SECTION 3 END */
/* SECTION 4 START */
#ourteam{
    position: relative;
    width: 100%;
    height: auto;
    display: block;
}
.ourteam-grid-avatars{
    display: grid;
    flex-direction: row;
    grid-template-columns: auto auto auto;
    gap: 25px;
    align-items: center;
    justify-content: center;
    height: 960px;
}
.ourteam-item{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 350px;
    justify-content: center;
    box-shadow: 0 4px 10px  rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 4px;    align-items: center;

}
.ourteam-item1{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 350px;
    justify-content: center;
}
.ourteam-grid-avatars img{
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#fullname{
    display: flex;
    font-family: 'Merriweather';
    font-weight: 600;
    font-size: 20px;
    justify-content: center;
    color: #091638;
    margin-block-start: 10px;
}
#position{
    display: flex;
    flex-direction: column;
    margin-block-start: 10px;
    align-items: center;
    color: #091638;
}
#our-team-title{
    font-family: 'Merriweather';
    font-weight: bold;
    font-size: 41px;
    color: #091638;
}

/* SECTION 4 END */

/* SECTION 5 START */

#references{
    position: relative;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
}
.references-title-txt-box{
    margin-block: 10em;
    display: flex;
    flex-direction: column;
}
.references-title-txt{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-block: 50px;
    margin-inline-end: 105px;
}
.references-box-txt-full-div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.references-title{
    font-family: 'Merriweather';
    font-weight: bold;
    font-size: 50px;
    margin-block-end: 30px;
}
.references-description{
    display: flex;
    font-size: 22px;
    width: 600px;
    margin-block-end: 30px;
    justify-content: space-around;
}
.references-box-with-txt, .references-box-with-txt2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 700px;
    height: 400px;
    background-color: #F3F3FA;
}
.references-box-with-txt2{
    margin-inline-start: 50px;
}
.references-box-description, .references-box-description2{
    position: relative;
    padding-block: 50px;
    padding-inline-start: 80px;
    font-size: 22px;
    align-items: center;
    justify-content: center;
}
.references-box-big-description::before, .references-box-big-description2::before{
    padding-inline-start: 30px;
    padding-block-start: 35px;
    font-family: 'Merriweather';
    top: 0;
    left: 0;
    font-weight: bolder;
    color: #091638;
    opacity: 0.5;
    font-size: 70px;
    content: "“";
    position: absolute;
}
.references-box-title-txt{
    display: flex;
    flex-direction: column;
    padding-inline-start: 30px;
}
.references-box-end-title{
    font-family: 'Merriweather';
    font-weight: bold;
    font-size: 23px;
}
.references-box-description-txt{
    font-size: 20px;
}

/* SECTION 5 END */
