@font-face {
    font-family: 'Merriweather';
    src: url(../../assets/fonts/Merriweather-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url(../../assets/fonts/OpenSans-VariableFont_wdth\,wght.ttf);
    font-weight: auto;
    font-style: normal;
}

* {
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: 'Open Sans';
    margin: 0;
    padding: 0;
    color: #141B2D;
}

html,
body {
    position: relative;
    overflow-x: hidden;
}

input:focus {
    outline: none;
}
::placeholder {
    color: rgba(20, 27, 45, 0.5);
    font-weight: 500;
}




/* Modal */
.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 15;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000c2cfa;
    opacity: 0;
    /* Initially hidden */
    transition: opacity 0.15s;
    pointer-events: none;
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: flex;
    justify-content: center;
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    opacity: 0;
    /* Initially hidden */
    transition: opacity 0.15s;
}

#modalImg {
    width: 100%;
    max-width: 1200px;
    min-width: 1200px;
    max-height: 600px;
    min-height: 600px;
    border-radius: 25px;
}

.small-img,
.big-img {
    cursor: pointer;
}

/* Show the modal and its content */
.modal.show {
    opacity: 1;
    pointer-events: auto;
    /* Enable clicking */
}

/* Close button */
.close {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    filter: brightness(0) saturate(100%) invert(100%) sepia(3%) saturate(12%) hue-rotate(103deg) brightness(105%) contrast(105%);
}

.close:hover,
.close:focus {
    filter: brightness(0) saturate(100%) invert(12%) sepia(78%) saturate(5077%) hue-rotate(4deg) brightness(81%) contrast(120%);

}






.detailed-offer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-right: 20px;
}

.detailed-offer-title {
    justify-content: center;
    display: flex;
    margin-right: -30px;
}

.detailed-offer-title-h1 {
    line-height: 69px;
    font-family: 'Merriweather';
    margin-top: 192px;
    font-size: 53px;
    max-width: 1150px;
}

.detailed-offer-pictures-info-and-contact-info {
    display: flex;
    margin-block: 40px;
    justify-content: center;
    margin-right: 12px;
}

.big-apt-div {
    max-width: 750px;
    min-width: 750px;
    max-height: 400px;
    min-height: 400px;
    margin-inline: 32px;
    margin-block-end: 16px;
}

.big-apt-picture {
    border-radius: 4px;
    max-width: 750px;
    min-width: 750px;
    max-height: 400px;
    min-height: 400px;
}

.detailed-offer-pictures-and-info {
    display: flex;
    flex-direction: column;
    max-width: 814px;
}

.swiper {
    max-width: 620px;
    margin-left: 0;
    margin-right: 0;
}

.swiper-slide {
    display: flex;
    justify-content: center;
}

.swiper-slide img {
    max-width: 205px;
    max-height: 85px;
    min-width: 191px;
    border-radius: 4px;
}

.info-icons-descriptions {
    display: flex;
    margin-block-start: 45px;
    margin-inline: 85px;
    width: 100%;
}

.detailed-offer-type-space-location {
    display: flex;
    align-items: center;
    padding-inline: 20px;
}

.detailed-offer-type-space-location p {
    font-size: 21px;
    font-weight: bold;
    font-family: 'Merriweather';
    margin-inline: 20px;
}

.detailed-offer-mortgage {
    display: flex;
    align-items: center;
    background-color: #F3F3FA;
    margin-block-start: 44px;
    margin-inline: 105px;
    border-radius: 4px;
    justify-content: space-between;
    width: 609px;
    height: 98px;
    padding-inline: 25px;
}

#mortgage-text {
    font-size: 17px;
}

#mortgage-amount {
    font-size: 21.25px;
    font-family: 'Merriweather';
    font-weight: bold;
}

.detailed-offer-get-a-mortgage-btn button {
    width: 160px;
    height: 48px;
    background-color: #1C3988;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
    border: 2px solid #1C3988;
    transition: 0.3s;
}

.detailed-offer-get-a-mortgage-btn a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
}

.detailed-offer-get-a-mortgage-btn button:hover {
    background-color: #6E8AE9;
    border: 2px solid #6E8AE9;
}

.detailed-offer-paragraphs-only {
    margin-block-start: 11px;
    margin-block-end: 40px;
}

.detailed-offer-section1-paragraph {
    max-width: 610px;
    margin-inline: 105px;
}

.detailed-offer-section1-paragraph p {
    font-size: 17px;
    margin-block: 30px;
    font-weight: 410;
}

#detailed-offer-paragraph-part-1 {
    max-width: 550px;
}

#detailed-offer-paragraph-part-2 {
    max-width: 600px;
}

#detailed-offer-paragraph-part-3 {
    max-width: 600px;
}

.detailed-offer-info-title {
    font-family: 'Merriweather';
    font-size: 21px;
}

.detailed-offer-info-txt-div p {
    margin-block: 5px;
}

.detailed-offer-precise-location-map {
    margin-inline-start: 85px;
    margin-block-start: -10px;
    filter: drop-shadow(0px 4px 20px rgba(71, 100, 195, 0.1));
}

/* GRID INTERESTED IN */

.interested-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-block-end: 100px;
}
.interested-in-title {
    font-family: 'Merriweather';
    margin-block: 50px;
    font-size: 33.2px;
}

.inline-interested-in-imgs {
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.inline-interested-in-imgs p {
    font-family: 'Merriweather';
    color: #FFFFFF;
    display: flex;
    z-index: 1;
    pointer-events: none;
    justify-content: center;
    font-size: 1.344rem;
}
.interested-txt-in-img-1 p,
.interested-txt-in-img-2 p,
.interested-txt-in-img-3 p ,
.interested-txt-in-img-4 p{
    margin-top: -66px;
}
.hover-img-p{
    transition: 0.3s;
}
.hover-img-p:hover {
    transform: perspective(1000px) rotateY(-10deg) scale(1.05);
}
/* GRID INTERESTED IN */

/* CONTACT-AGENT-BRIEF */

.contact-us-title-h2 {
    font-family: 'Merriweather';
}

.detailed-offer-contact-agent-apt-info {
    border-radius: 4px;
    background-color: #F3F3FA;
    max-height: 910px;
    width: 352px;
}

.detailed-offer-contact-info {
    padding: 30px 20px 25px 25px;

}

.name-tel-email-div {
    margin-top: 20px;
    font-size: 17px;
    font-weight: 450;
}

.name-tel-email-div input {
    font-weight: 410;
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    font-size: 17px;
    height: 56px;
    padding-inline: 10px;
}

.name-tel-email-div input:focus, #your-message-textarea:focus {
    transition: border 0.05s cubic-bezier(0.39, 0.58, 0.57, 1);
    border: 2px solid #1C3988;
}
.name-tel-email-div input, #your-message-textarea {
    transition: border 0.1s cubic-bezier(0.39, 0.58, 0.57, 1);
}

.name-tel-email-div p {
    margin-bottom: 5px;
}

#full-name-input {
    width: 304px;
}

#phone-number-input {
    width: 190px;
}

#email-input {
    width: 304px;
}

#your-message-textarea {
    font-weight: 410;
    outline: none;
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    font-size: 17px;
    resize: none;
    padding-inline: 10px;
    padding-block: 15px;
    width: 304px;
    height: 308px;
}

.check-box-agree-personal-data {
    display: flex;
    margin-block: 20px;
}

.agree-personal-data-custom-checkbox {
    display: none;
}

.agree-personal-data-custom-checkbox-label {
    position: relative;
    display: inline-block;
    width: 24px;
    height: 24px;
    background-color: white;
    border: 2px solid #1C3988;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.2s cubic-bezier(0, 0, 0.2, 1);
}

.agree-personal-data-custom-checkbox:checked+.agree-personal-data-custom-checkbox-label {
    background-color: #1C3988;
}

.agree-personal-data-custom-checkbox-label::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16px;
    height: 12px;
    background-image: url('../../assets/icons/checkbox-arrow.svg');
    /* Path to your SVG file */
    transform: translate(-50%, -50%);
    opacity: 0;
}

/* Show the checkmark/indicator when checked */
.agree-personal-data-custom-checkbox:checked+.agree-personal-data-custom-checkbox-label::after {
    opacity: 1;
}

/* Style the text label */
.agree-personal-data-text {
    vertical-align: middle;
    margin-left: 10px;
    font-size: 17px;
    max-width: 250px;
}

.agree-personal-data-text a {
    text-decoration: underline;
    font-weight: 410;
    color: #1C3988;
    transition: color 0.3s;
}
.agree-personal-data-text a:hover, .detailed-offer-agent-information a:hover {
    color: #003CFF;
}

.send-message-form input {
    border: 2px solid #1C3988;
    background-color: transparent;
    border-radius: 4px;
    height: 48px;
    width: 304px;
    font-size: 16px;
    font-weight: 700;
    color: #1C3988;
    cursor: pointer;
    transition: 0.3s;
}

.send-message-form input:hover {
    border: 2px solid #6E8AE9;
    color: #6E8AE9;
}

.detailed-offer-agent-information {
    margin-block: 50px;
    background-color: #F3F3FA;
    border-radius: 4px;
    height: 323px;
    width: 352px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.broker-fullname {
    font-family: 'Merriweather';
}

.detailed-offer-agent-information img {
    margin-block: 24px;
    max-width: 126px;
    min-width: 126px;
    max-height: 126px;
    min-height: 126px;
    width: 100%;
    height: 100%;
    border-radius: 63px;
}

.detailed-offer-agent-information span {
    margin-block: 2.5px;
    font-size: 17px;
    font-weight: 450;
}

.detailed-offer-agent-information a {
    margin-block-start: 10px;
    margin-block-end: 40px;
    color: #1C3988;
    font-weight: 450;
    font-size: 17px;
    transition: color 0.3s;
}

.detailed-offer-brief-characteristics-information {
    background-color: #F3F3FA;
    width: 352px;
    border-radius: 4px;
}

.detailed-offer-brief-char-info-second-div {
    padding: 20px 20px;
}

.brief-char-title {
    font-family: 'Merriweather';
}

.detailed-offer-brief-characteristics-information p {
    margin-block: 20px;
    font-size: 17px;
    font-weight: 450;
}

/* CONTACT-AGENT-BRIEF */