.sub-newsletter-footer {
    width: 100%;
    height: auto;
    background-color: #F3F3FA;
    display: block;
    position: relative;
}

.sub-newsletter-title-description {
    height: 398px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.sub-news-letter-title-text {
    margin-block-end: 15px;
}

.sub-newsletter-title {
    margin-block-end: 15px;
    font-family: 'Merriweather';
}

.sub-news-letter-form-container {
    display: flex;
    column-gap: 20px;
    justify-content: center;

}

.sub-news-letter-form-container input {
    font-size: 16px;
    height: 48px;
    border-radius: 4px;
    outline: none;
}

#sub-news-letter-email-address-bar {
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.1);
    width: 260px;
    padding-left: 16px;
    opacity: 0.5;
    transition: 0.3s;
}
#sub-news-letter-email-address-bar:focus {
    transition: 0.05s;
    border: 2px solid #1C3988;
    opacity: 1;
}

#sub-news-letter-subscribe-button {
    width: 125px;
    background-color: transparent;
    border: 2px solid #1C3988;
    color: #1C3988;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

#sub-news-letter-subscribe-button:hover {
    background-color: #6E8AE9;
    border: 2px solid #6E8AE9;
    color: #FFFFFF;
}

.sub-newsletter-icon-svg {
    margin-inline-end: 91px;
    opacity: 0.15;
}

/* FOOTER NEWS-LETTER END */

/* FOOTER COPYRIGHT START */

.copyright-marble-footer {
    width: 100%;
    background-color: #1C3988;
    height: auto;
    display: block;
}

.copyright-marble-footer-full-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 50px;
    align-items: center;
}

.copyright-marble-footer-container {
    flex-direction: column;

}

.copyrigt-marble-footer-logo {
    width: 55px;
    height: 35px;

}

.copyrigt-marble-footer-name {
    font-family: 'Merriweather';
    font-size: 18px;
    font-weight: 550;
    color: #F3F3FA;
}

@media screen and (max-width: 900px) {
    .sub-newsletter-title-description {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;

    }

    .sub-news-letter-form-container {
        column-gap: 0px;
        position: relative;
    }

    #sub-news-letter-email-address-bar {
        width: 425px;
        padding-inline-end: 130px;
    }

    .sub-news-letter-subscribe-container {
        position: absolute;
        left: 70.5%;
    }

    #sub-news-letter-subscribe-button {
        background-color: #1C3988;
        color: #FFFFFF;
    }

    #sub-news-letter-subscribe-button:hover {
        border: none;
    }

    .sub-newsletter-icon-svg {
        margin-inline-end: 0px;
        margin-block-end: 15px;
    }
}

@media screen and (max-width: 549px) {
    .sub-newsletter-title-description {
        min-height: 450px;
        max-height: 500px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .sub-news-letter-without-img {
        width: 100%;
    }

    .sub-news-letter-form-container {
        column-gap: 0px;
        position: relative;
    }

    #sub-news-letter-email-address-bar {
        width: 300px;
        padding-inline-end: 100px;
    }

    .sub-news-letter-subscribe-container {
        position: absolute;
        left: unset;
        margin-left: 209px;
    }

    #sub-news-letter-subscribe-button {
        background-color: #1C3988;
        color: #FFFFFF;
        width: 90px;
        font-size: 15px;

    }

    #sub-news-letter-subscribe-button:hover {
        border: none;
    }

    .sub-newsletter-title {
        font-size: 25px;
        text-align: center;
    }

    .sub-newsletter-description {
        display: flex;
        text-align: center;
        justify-content: center;
    }

    .sub-newsletter-icon-svg {
        margin-inline-end: 0px;
        margin-block-end: 15px;
    }
}