html,
body {
    position: relative;
    overflow-x: hidden;
}

section {
    display: block;
    width: 100%;
}

/* Container code */

.section {
    padding-inline-start: 50px;
    padding-inline-end: 50px;
}

#top-offer {
    scale: 0.88;
    overflow-x: hidden;
    position: relative;
    width: 100%;
    height: auto;
    display: block;
}

/* Product code */

#top-offer-grid-item img {
    width: 350px;
    max-width: 350px;
    min-width: 350px;
    height: 250px;
    max-height: 250px;
    min-height: 250px;
    border-start-start-radius: 4px;
    border-start-end-radius: 4px;
}

#top-offer-grid-item a {
    display: flex;
    flex-direction: column;
    padding-block-end: 20px;
    text-decoration: none;
}

#top-offer-grid-item span {
    width: 330px;
    padding-inline: 10px;
    padding-block-start: 20px;
}

#top-offer-grid-item {
    border-radius: 4px;
    background-color: #FFFFFF;
    margin-inline: 20px;
    min-height: 420px;
    box-shadow: 0 2px 4px 0 #F3FAFA;
    border: 1px solid #FFFFFF;
    transition: 0.3s cubic-bezier(0.47, 0, 0.75, 0.72);

}

#top-offer-grid-item:hover {
    scale: 1.02;
}

#img-cont-title {
    color: #141B2D;
    font-family: 'Merriweather';
    font-weight: 600;
}

#img-cont-price {
    font-weight: bold;
    color: #1C3988;

}

#img-cont-city {
    color: #141B2D;
}

@media screen and (max-width: 1166px) and (min-width: 900px) {
    #top-offer-grid-item img {
        width: 100%;
        min-width: 260px;
    }

    #top-offer-grid-item span {
        width: 90%;
    }
}

@media screen and (max-width: 899px) and (min-width: 550px) {
    #top-offer-grid-item img {
        width: 100%;
        min-width: 240px;
    }

    #top-offer-grid-item span {
        width: 90%;
    }
}

@media screen and (max-width: 820px) and (min-width: 550px) {
    #top-offer-grid-item span {
        max-width: 340px;
        width: 100%;
    }

    #top-offer-grid-item {
        margin-inline: 5px;
    }
}

@media screen and (max-width: 549px) {
    #top-offer-grid-item img {
        width: 100%;
        min-width: 210px;
    }

    #top-offer-grid-item span {
        width: 100%;
    }

    #top-offer-grid-item {
        margin-inline: 5px;
    }
}

@media screen and (max-width: 450px) {
    #top-offer-grid-item span {
        max-width: 340px;
        width: 100%;
    }
}