html,
body {
    position: relative;
    overflow-x: hidden;
}

section {
    display: block;
    width: 100%;
}

.section {
    padding-inline-start: 50px;
    padding-inline-end: 50px;
}

#top-offer {
    scale: 0.88;
    overflow-x: hidden;
    position: relative;
    width: 100%;
    height: auto;
    display: block;
}